*{
  box-sizing:border-box;
}
body{
  margin:0;
}
.row{
  width:100%;
  position:relative;
}

.row::after{
  content: "";
  clear: both;
  display: table;
}
#logo{
  width:100%;
  height:100%;
  display:inline;
}
#logosection{
  height:100%;
}
#BannerBar{
  display:flex;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  background-color:#058ED9;
  float:none;
  z-index:1;
}
#options{
  list-style-type: none;
  justify-content:end;
  padding:0;
  margin:0;
  height:100%;
  width:100%;
}
#optionsection{
  height:100%;
  width:100%;
}
#optionscontainer{
  width:100%;
  height:100%;
}
.option{
  height:100%;
  width:100%;
  padding:0;

}
.option a{
  text-decoration: none;
  margin:0;
  padding:0;
}
.option:hover{
  background-color:#04724D; /*Please change this and lmk what hexcode you use*/
}

h1, h2{
  text-align:center;
}
li a{
  color:black;
}
[class*="col-"] {
  float:left;
  padding:0px;
}

@media screen and (min-width: 770px)
  {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    #buttonMobile{
      display:none;
    }
    #BannerBar{
      height:100px;
    }
    #content{
      height:800px;
    }
    #options{
      height:100%;
      width:100%;
    }
    .option{
      height:100%;
      width:25%;
      float:right;
      display:table-cell;
      vertical-align: middle;
      text-align:center;
      padding:0px;
      padding-top:40px;
      font-size:24px;
      font-family:latoregular;
    }
    .option:hover{
      background-color:#04724D; /*Please change this and lmk what hexcode you use*/
    }
    #Text{
      position:relative;
      font-size:40px;
      top:90px;
    }
}
@media screen and (max-width:1175px) and (min-width:770px) {
  .option{
    font-size:20px;
  }
}
@media screen and (max-width: 769px)
  {
    [class*="col-"] {
      width: 100%;
    }
    .hamburger{
      width: 35px;
      height: 5px;
      background-color: black;
      margin: 6px 0;
      position:relative;
      right:0;
      top:50%;
    }

    #BannerBar{
      height:80px;
    }
    #content{
      height:700px;
    }
    #buttonMobile{
      position:absolute;
      right:10px;
      top:15px;
      background: none;
      border:none;
    }

    #options{
      border-bottom:1px solid black;
      position:absolute;
      top:80px;
      left:0;
      right:0;
      text-align: center;
      height:250px;
      visibility: hidden;
      background-color:white;
      opacity:9;
    }
    .option{
      height:0%;
      width:100%;
      display:block;
      padding:15px;
      font-size:18px;
      font-family:latoregular;
    }
    .option:hover{
      background-color:#04724d; /*Change to color of choice*/
    }
    h1{
      font-size:40px;
      position:relative;
      top:160px;
      font-family: titillium_webbold, Arial, sans-serif;
      color:white;
      font-weight:normal;
      font-style:normal;
    }
    h2{
      position:relative;
      top:120px;
      font-size:30px;
      font-family: titillium_webbold, Arial, sans-serif;
      color:white;
    }
    #Text{
      position:relative;
      font-size:24px;
      top:190px;
      text-align:center;
    }
  }
