.subhead{
  font-size:40px;
  font-family:titillium_webbold;
}
*{
  box-sizing:border-box;
}
body{
  background-color:#f8f8ff; /* The off-white color */
  opacity:0.9;
  margin:0px;
}
[class*="col-"] {
    float: left;
    padding: 15px;
  }
  /* Row are the divs which contains the columns and span
  the whole page */
.row{
  position:relative;
  padding:30px;
  margin:auto;
  width:100%;
  max-width:1200px;
  background-color:white;
  /* border:1px solid black; */
}
/*Clearfix hack that makes sure nothing overfllows*/
.row::after{
  content: "";
  clear: both;
  display: table;
}
/*-----------*/
/*The bar at the very top*/
#BannerBar{
  display:flex;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  background-color:#058ED9; /* The blue background of bar */
  float:none;
  z-index:3;
  color:#04724D;
  font-family:latoregular; /* Download font */
}
#logosection{
  height:100%;
}
#logo{
  width:100%;
  height:100%;
  display:inline;
}
#optionscontainer{
  width:100%;
  height:100%;
}
#options{
  list-style-type: none;
  justify-content:end;
  padding:0;
  margin:0;
}
/*option refers to the INTERACTIVE MAP AND STUFF*/
.option a{
  text-decoration: none;
  color:black;
}
.option:hover{
  background-color:#04724D; /*Please change this and lmk what hexcode you use*/
}
#Heading{
  border:none;
}
#titleHeading{
  border:none;
}
#NavBar2{
  padding:0;
}

/*Styles the links in the navigation bar*/
.NavOption a{
  /*Don't touch these*/
  align-items: center;
  justify-content: center;
  display:flex;
  /*--------------*/
  height:100%;
  width:100%;
  text-decoration: none;
  color:white;
  font-family:latolight;
}
/* Centered text in intro paragraph */
.central{
  font-family:titillium_weblight;
  font-size:20px;
}
/* Text in the paragraphs */
.text{
  text-align:justify;
}
/* Image gallery at the bottom of the page */
.ImageGalleryContainer{
  border:1px solid black;
  position:relative;
  margin:auto;
  max-height:800px;
}
.Slide{
  width:100%;
  display:none;
}
.numbertext{
  position:absolute;
  top:3px;
  left:5px;
  color:white;
  font-size:20px;
}
.caption{
  position:absolute;
  bottom:40px;
  color:white;
  font-size:20px;
  font-weight:bold;
  left:0;
  right:0;
  text-align:center;
}
.dot{
  border-radius: 50%;
  width:25px;
  height:25px;
  background-color:grey;
  display:inline-block;
}
.dot:hover, .activedot{
  background-color:black;
}
.leftArrow{
  left:0;
  cursor:pointer;
}
.rightArrow{
  right:0;
  cursor:pointer;
}

/* This is used for screens of 770 pixels and larger */
@media screen and (min-width:770px)
  {
    /* These offer different widths to each colum by dividing (100/12) * col-n */
    /* The columns in a div of class row add up to 12 */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    body{
      margin-top:20px;
      margin-bottom:20px;
    }
    #BannerBar{
      height:100px;
    }
    #logosection{
      height:100%;
    }
    /* Div containing the Title and Logo */
    #Heading{
      text-align:center;
      height:100%;
      padding:0;
      margin:0;
      width:100%;
    }
    /* Title Heading */
    #titleHeading{
      margin:0;
      padding:0;
      width:100%;
      height:100%;
    }
    #title{
      padding:0;
      margin:auto;
      width:100%;
      background-color:#058ED9;
      height:100%;
      font-size:45px;
      font-family:latobold;
    }

    #options{
        height:100%;
        width:100%;
      }
      .option{
        height:100%;
        width:25%;
        float:right;
        display:table-cell;
        vertical-align: middle;
        text-align:center;
        padding:0px;
        padding-top:38px;
        font-size:24px;
      }
    #buttonMobile{
      display:none;
    }
    /* This hides the button needed for mobile set up */
    #OpenMenuMobile{
      display:none;
    }
    /* This is the div containing the Nav Options */
    #NavBar{
      height:70px;
      padding:0;
      width:100%;
      color:white;
    }
    #NavBar2{
      position: -webkit-sticky;
  position: sticky;
      top:100px;
      z-index:2;
    }
    #NavList{
      height:100%;
      width:100%;
      margin:0;
      list-style: none;
      padding-left:0;
    }
    /* Options within #NavBar */
    .NavOption{
      width:25%;
      height:100%;
      display:inline-block;
      font-size:18px;
      position:relative;
      float:left;
      background-color: black;

      transition:1s;
    }
    #activeBar, .NavOption:hover{
      background-color:black;
      opacity:0.6;
    }
    /* Flex box so that div containing paragraphs and images are same legnth*/
    .flexboxcontainer{
      display:flex;
    }

    /* Currently changing */

    #IntroHeading{
      font-size:55px;
      text-align:center;
      font-family:titillium_webbold;
    }
    #Introduction{
      padding:0;
    }
    .contentimage{
      width:100%;
      height:100%;
    }
    .Paragraphs{
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content: center;
      height:100%;
      max-width:400px;
      font-family: titillium_weblight;
      font-size:18px;
    }
    .Sub-Topic{
      display:flex;
      justify-content: center;
      max-width:800px;
    }
    .Sub-Topic-Title{
      text-align:center;
    }
    /* To somewhere*/
    .ImageGalleryContainer{
      max-width:1000px;
    }
    .leftArrow, .rightArrow{
      position:absolute;
      margin-top:-22px;
      top:50%;
      padding:20px;
      width:auto;
      font-size:30px;
      color:white;
      font-weight:bold;
      transition: 0.5s;
    }
    .leftArrow:hover, .rightArrow:hover{
      background-color: grey;
      opacity:0.9;
    }

  }
/* Used for screens smaller than 770 px */
@media screen and (max-width:1175px) and (min-width:770px) {
  .option{
    font-size:20px;
  }
}
@media screen and (max-width: 769px)
  {


    /* Changes all the column widths to 100% */
    [class*="col-"] {
      width: 100%;
    }
    body{
      margin-top:0px;
    }
    #BannerBar{
      height:80px;
    }
    .hamburger{
      width: 35px;
      height: 5px;
      background-color: black;
      margin: 6px 0;
      position:relative;
      right:0;
      top:50%;
    }
    #NavBar{
      height:70px;
      padding:0;
      width:100%;
      transition:1s;
      display:block;
    }
    #NavBar2{
      position: -webkit-sticky;
  position: sticky;
      top:80px;
      z-index:1
    }
    /* The button appears*/
    #OpenMenuMobile{
      position:absolute;
      bottom:0px;
      height:100%;
      width:100%;
      left:0;
      right:0;
      /* overflow:auto; */
      padding:10px;
      background-color:black;
      color:white;
      font-size:25px;
      font-family:'latobold';
      border:0;
    }
    #OpenMenuMobile:hover{
      background-color:#black;
      opacity:0.9;
      box-shadow: 0px 2px 2px 0px 0.9;
    }

    #buttonMobile{
      position:absolute;
      right:10px;
      top:15px;
      background: none;
      border:none;
    }

    #options{
      border-bottom:1px solid black;
      position:absolute;
      top:80px;
      left:0;
      right:0;
      text-align: center;
      height:250px;
      visibility: hidden;
      background-color:#058ED9;
      opacity:9;
      z-index:100;
    }
    .option{
      height:0%;
      width:100%;
      display:block;
      padding:15px;
      font-size:18px;
    }
    #titleHeading{
      display:flex;
      text-align: center;
      font-size:25px;
      width:100%;
      height:100%;
    }
    #Heading{
      height:100px;
      padding:0;
      height:100%;
      width:100%;
    }
    #title{
      width:100%;
      height:100%;
      margin:0;
      background-color:#058ED9;
      font-family:latobold;
    }
    #NavList{
      height:100%;
      width:100%;
      margin:0;
      list-style: none;
      padding-left:0;
      display:none;
    }
    .NavOption{
      position:relative;
      display:block;
      top:70px;
      background-color:black;
      color:white;
      transition: 0.5s;
      height:100%;
      width:100%;
    }
    .NavOption:hover{
      opacity:0.6;
    }
    .NavOption a{
      display:flex;
      flex-wrap:wrap;
      justify-content: center;
      align-items: center;
    }
    #IntroHeading{
      font-size:45px;
      text-align:center;
      font-family:titillium_webbold;
    }

    .contentimage{
      width:75%;
      max-height:350px;
    }
    /* This is used for the div containing images in paragraphs, it is is
    unnecessary in pc set up */
    .flexboxcontainer2{
      display:flex;
      align-items: center;
      justify-content: center;
    }

    /*ContentImage are the pictures next to paragraphs*/

    .leftArrow, .rightArrow{
      position:absolute;
      margin-top:-25px;
      top:50%;
      padding:10px;
      width:auto;
      font-size:20px;
      color:white;
      font-weight:bold;
      transition: 0.5s;
    }
    .leftArrow:hover, .rightArrow:hover{
      background-color: grey;
      opacity:0.9;
    }
    .Sub-Topic-Title{
      text-align:center;
      padding:0;
      padding-top:5px;
    }
    .Paragraphs{
      height:100%;
      font-family: titillium_weblight;
      font-size:18px;
    }
  }
